main > .container {
    padding-top: 100px;
}

.msginput {
    width: 80%;
    margin-left: 2%;
}

.sendbutton {
    width: 12%;
    margin-left: 3%;
}

.chat {
    background: #ffffff;
    padding: 7px;
    border: 3px ridge #cfcfcf;
    height: 450px;
    overflow-y: auto;
}

.online {
    background: #ffffff;
    padding: 7px;
    border: 3px ridge #cfcfcf;
    height: 450px;
    overflow-y: auto;
}

.logo {
    margin-left: 20px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}


